* {
    box-sizing: border-box;
}

nav ul {
    display: flex;
    overflow-x: auto;
    list-style: none;
    justify-content: left;
    width: 100%;
    min-width: 250px;
    padding-left: 0;
}

nav ul::-webkit-scrollbar {
    display: none
}

nav ul a {
    padding: 0.6rem;
    margin: 0.5rem 1rem;
    flex-shrink: 0; /*this is a key line. makes the whole thing scroll horizontally */ 
    background-color: rgba(113, 182, 149, 0.6);
    border-radius: 0.5rem;
    height: 2.5rem;
}

nav ul a:hover {
    background-color: rgba(113, 182, 149, 1);
}

nav ul a {
    text-decoration: none;
    color: black;
}

h4 {
    margin-bottom: 0;
}
