ul li {
    list-style: none;
}

div:focus {
    display:block;
}

section {
  margin: 2rem auto;
  padding: 1.5rem;
  max-width: 900px;
  min-width: 300px;
  border-radius: 2.5rem;
}

#results {
  background-color: rgb(82, 183, 136);
  margin-top: 0;
}
